.box{
    height: auto;
    max-height: 339px;
    width: 380px;
    border-radius: 10px;
    background: rgba(43, 40, 40, 0.72);
    backdrop-filter: blur(15px);
    position: absolute;
    z-index: 9;
}

.box-settings {
    bottom: 4.555rem;
    left: 1.43rem;
    padding: 1rem;
}

.box-playlist {
    bottom: 4.555rem;
    right: 1.98rem;
}

.episodes-holder{
    overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C454;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}