@import '../../videoJS/video-js.style.scss';

.info-box-holder{
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    position: relative;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    .info-box-title{
        font-weight: bold;
        font-size: large;
        flex-grow: 1;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
    }
    .info-box-selected-value{
        font-size: medium;
        display: inline-flex;
        cursor: pointer;
        padding: 10px;
        padding-right: 0;
        align-items: center;
        .info-box-arrow-right{
            display: inline-block;
            cursor: pointer;
            background-image: url('../../assets/icons/Arrow\ -\ Right\ 2.svg');
            width: 30px;
            height: 20px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding: 10px 0;
        }
        transition: all 0.1s ease-in-out;
    }
    &:hover{
        text-shadow: 0 0 5px #fff;
        background-color: $light-grey;
        border-radius: 5px;
    }
}