// color-variables
$player-red: #EB0202;
$light-grey: rgba(216, 216, 216, 0.3);

$borderRadious: 94px;

.vjs-matrix.vjs-fullscreen{
    .vjs-control-bar{
        .vjs-fullscreen-control{
            display: flex;
            flex: 0 0 auto;
            order: 9;
            .vjs-icon-placeholder {
                &::before{
                    content: '';
                    background-image: url('../assets/icons/minScreen.svg');
                    height: 25px;
                    width: 25px;
                    background-repeat: none;
                    background-position: center;
                }
            }
        }
    }
}

// .player-holder{
//     width: 100vw;
//     height: 100vh;
// }

.vjs-matrix {
    height: 100%;
    width: 100%;
    position: relative;
    
    &:focus {
        &:not(:focus-visible) {
            outline: 0
        }
    }

    .vjs-skip-button {
        background-color: red; 
        padding: 15px 0; 
        max-height: 20px;
        width: 5rem;
        border-radius: 10px;
        position: absolute;
        bottom: 25%;
        right: 1.5%;
        transition: all ease .3s;

        &::after{
            content: 'Skip Ads';
            padding: 0 0 1rem 0;
            font-size: small;
            font-weight: bold;
            position: relative;
            bottom: 6px;
        }

        &:hover{
            background-color: #fff;
            color: #EB0202;
        }

    }

    .vjs-link-button {
        background-color: #f0f0f0;
        border-radius: 10px;
        font-weight: bold;
        font-size: small;
        height: fit-content;
        max-width: fit-content;
        padding: 15px 0; 
        min-width: 5rem;
        position: absolute;
        bottom: 25%;
        left: 1.5%;
        transition: all ease 0.3s;
        .link-tag{
            color: blue;
            text-decoration: underline;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover{
            background-color: blue ;
            
            .link-tag{
                color: #f0f0f0;
                text-decoration: none;
                
            }
            }
    }


    .vjs-control-bar {
        height: 10.85rem;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        position: absolute;
        padding-top: 3rem;
        .vjs-control{
            height: fit-content;
        }

        /* ----------------------------  Custom Buttons --------------------------- */
        .vjs-custom-button {
                height: 27px;
                width: 28px;
                display: flex;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                z-index: 1;
        }

        .vjs-settings-button{
            background-image: url('../assets/icons/Setting.svg');
            display: flex;
            align-self: flex-end;
            flex: 0 0 auto;
            order: 1;
            padding-left: 3rem;
            margin-bottom: 1rem;
        }

        .vjs-playlist-button{
            background-image: url('../assets/icons/list-play.svg');
            display: flex;
            align-self: flex-end;
            flex: 0 0 auto;
            order: 8;
            margin-bottom: 1rem;
            padding: 0 4rem 0 0;
        }

        .vjs-next-button{
            background-image: url('../assets/icons/next.svg');
            display: flex;
            align-self: center;
            flex: 1 1 auto ;
            order: 6;
            transform: translateX(-50%);
        }

        .vjs-previous-button{
            background-image: url('../assets/icons/Privious.svg');
            display: flex;
            align-self: center;
            flex: 1 1 50px;
            order: 4;
            transform: translateX(50%);
        }

        .vjs-fast-forward-button{
            background-image: url('../assets/icons/ff.svg');
            display: flex;
            align-self: center;
            flex: 1 1 content;
            order: 5;
            transform: translateX(-100%);
        }

        .vjs-fast-rewind-button{
            background-image: url('../assets/icons/bb.svg');
            display: flex;
            align-self: center;
            flex: 1 1 content;
            order: 3;
            transform: translateX(100%);
        }

        /* ------------------------------- Fullscreen ------------------------------- */

        .vjs-fullscreen-control {
            display: flex;
            align-self: flex-end;
            flex: 0 0 auto;
            order: 6;
            margin-bottom: 1rem;
            height: 27px;
            .vjs-icon-placeholder {
                &:before {
                    content: '';
                    background-image: url('../assets/icons/fullscreen.svg');
                    height: 27px;
                    width: 27px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

        }

        /* ------------------------------- Volume bar ------------------------------- */
        .vjs-volume-panel, .vjs-volume-panel.vjs-hover {
            font-size: 1.6em;
            transition: none;
            width: 6.75rem;
            padding-left: 3rem;
            display: flex;
            align-self: flex-end;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            order: 2;

            &:hover , &:focus, &:active {
                 transition: none !important;
                 width: 6.75rem;
                 animation: none;

                 .vjs-volume-horizontal{
                     width: 6.75rem;
                     
                }
            }

            .vjs-vol-0 {
                margin-bottom: 0.8rem;
                .vjs-icon-placeholder{
                    &:before{
                        content: '';
                        background-image: url('../assets/icons/Volume\ Off.svg');
                        height: 2rem;
                        width: 2rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 50%;
                        transform: translateX(-50%);
                        // margin: 8px 35px;
                    }
                }
            }

            .vjs-vol-1, .vjs-vol-2 {
                margin-bottom: 0.8rem;
                .vjs-icon-placeholder{
                    &:before{
                        content: '';
                        background-image: url('../assets/icons/Volume\ Down.svg');
                        height: 1.7rem;
                        width: 1.7rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 50%;
                        transform: translateX(-50%);
                        // margin: 11px 35px;
                    }
                }
            }

            .vjs-vol-3 {
                margin-bottom: 0.8rem;
                .vjs-icon-placeholder{
                    &:before{
                        content: '';
                        background-image: url('../assets/icons/Volume\ Up.svg');
                        height: 2rem;
                        width: 2rem;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        // margin: 8px 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .vjs-volume-horizontal , .vjs-slider-horizontal {
                outline: 0;
                position: relative;
                cursor: pointer;
                padding: 0;
                width: 6.75rem;
                opacity: 1;
                transition: none;
                border-radius: $borderRadious;
                animation: none;
                margin: 1.35em 0 0.8em;
                &:hover , &:focus {
                    transition: none !important;
                    width: 6.75rem;
                    
                }
                .vjs-volume-level{
                    border-radius: $borderRadious;
                    &:before{
                        content: '';
                        width: 0;
                        height: 0;
                    }
                }
            }
        }


        /* --------------------------- Play-Pause Buttons --------------------------- */
        .vjs-play-control, .vjs-playing, .vjs-paused {
            // transform: translate(-50px, -50px);
            height: 70px;
            // width: 50px;
            // background: $light-grey;
            border-radius: 50%;
            font-size: 1.75em;
            display: flex;
            align-self: center;
            justify-content: center;
            flex: 2 0 50px;
            order: 4;
            
            .vjs-icon-placeholder {
                left: 50%;
                transform: translateX(-50%);
                &::before{
                    content: '';
                        background-image: url('../assets/icons/Play-Button.svg');
                        height: 50px;
                        width: 50px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        left: 50%;
                        transform: translateX(-50%);
                        // margin: 10px 12px;
                    }
            }
        }
        .vjs-play-control.vjs-playing{
            .vjs-icon-placeholder{
                left: 50%;
                transform: translateX(-50%);
                &::before{
                    content: '';
                    background-image: url('../assets/icons/stop-button.svg');
                    height: 50px;
                    width: 50px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    left: 50%;
                    transform: translateX(-50%);
                    // margin: 10px;
                }
            }
        }
        .vjs-play-control.vjs-paused{
            .vjs-icon-placeholder{
                left: 50%;
                transform: translateX(-50%);
                &::before{
                    content: '';
                    background-image: url('../assets/icons/Play-Button.svg');
                    height: 50px;
                    width: 50px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    left: 50%;
                    transform: translateX(-50%);
                    // margin: 10px 20px;
                }
            }
        }
        

        /* ------------------------------ Time-display ------------------------------ */

        .vjs-current-time {
            color: $player-red;
            display: block;
            position: absolute;
            top: 3.56rem;
            left: 1.56rem;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
        }

        .vjs-remaining-time {
            position: absolute;
            top: 3.56rem;
            right: 1.56rem;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
        }

        /* ----------------------------- Progress Slider ---------------------------- */
        .vjs-progress-control {
            display: flex;
            height: fit-content;
            width: 100%;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            &:hover{
                .vjs-play-progress {
                    .vjs-time-tooltip{
                        display: none;
                    }
                }

                .vjs-mouse-display{
                    .vjs-time-tooltip{
                        top: -7.5rem !important;
                        width: 9.375rem !important;
                        height: 5.625rem !important;
                        border-radius: 5px;
                        //TODO: the time Display must be on top of the tooltip
                    }
                }
            }

            .vjs-progress-holder {
                height: 1.56rem;
                border-radius: $borderRadious;
                margin: 0.9rem 1rem 0;
                //TODO: the Overflow of Progress Holder
                overflow: hidden;
                &:hover{
                    overflow: visible;
                }
                
                .vjs-slider {
                    background-color: $light-grey;
                }    

                .vjs-load-progress  {
                    border-radius: 45px;
                    background: $light-grey;
                    div{
                        border-radius: $borderRadious;
                        background: transparent;
                    }
                }

                 .vjs-play-progress {
                    border-radius: $borderRadious;
                    background-color: $player-red;
                    &::before {
                        content: '';
                        display: none;
                    }
                }
            }
        }
    }
}


@media screen and ( orientation: portrait ) {
    .vjs-matrix, .vjs-matrix.vjs-fullscreen{
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh !important;
        height: 100vw !important;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

@media screen and (max-width: 900px) {
    .vjs-matrix{
        .vjs-control-bar{
            .vjs-next-button{
                transform: none;
            }
    
            .vjs-previous-button{
                transform: none;
            }
    
            .vjs-fast-forward-button{
                transform: none;
            }
    
            .vjs-fast-rewind-button{
                transform: none;
            }
        }

    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}